
/* Page 1 */
.scroll {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: var(--main-bg-color);
  background: var(--main-light-color);
  border-radius: 16px;
  font-family: var(--ff-welcome);
  padding: 0.1em;
  opacity: 80%;
  text-transform: uppercase;
  text-align: center;
  min-width: 360px;
}

.arrow {
  width: 20%;
  opacity: 80%;
  transform: rotate(90deg);
}
/* Page 2 */
.text {
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
}

.container {
  padding: 10% 0;
  position: "absolute";
  overflow: hidden
}

.card {
  box-sizing: border-box;
  flex: 250px;
  margin: 1rem;
  align-self: flex-start;
  background: var(--main-bg-color);
  border-radius: 30px;
  text-align: center;
}
.heading {
  width: 100vw;
  background: none;
  margin-left: 20px;
}

.cardholder {
  display: flex;
  flex-wrap: wrap;
  background: none;
  width: 80%;
}

.link {
  box-sizing: border-box;
  flex: 250px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.linkImg {
  max-width: 10vw;
  height: auto;
  border-radius: 30px;
}

.linkImg:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

@media only screen and (max-width: 770px) {
  .linkImg {
    max-width: 30vw;
  }
}
.portfolio {
  margin-top: 40px;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  text-align: center;
}
.portfolio:hover {
  border-color: white;
}
.parallax {
  background: none;
}
