
.portfolio {
  text-align: center;
  padding: 20px;
}
.portfolio > h2 {
  font-size: 3em;
  margin-bottom: 20px;
}
.portfolio > h3 {
  font-size: 1.5em;
  font-weight: 400;
}
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 80px;
}
.link {
  text-decoration: none;
}  

@media only screen and (min-width: 600px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1000px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  color: #ccc;
  margin-top: 4px;
}